@keyframes change {
    from{
        opacity: 100%;
    }
    to{
        opacity: 0%;
    }
}

html{
    margin: 0;
    padding: 0;
    background-color: #e07979;
    text-align: center;
    vertical-align: middle;
}
#start{
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 22pt;
    letter-spacing: 1.3pt;
    background: #fff;
    min-width: 250px;
    width: 35%;
    height:80px;
    margin-top: 300px;
    border: 0;
    border-radius: 40px;
}
#start:hover{
    box-shadow: 10px 2px 10px 10px rgba(34, 60, 80, 0.2) inset;
    cursor: pointer;
} 
#start:active{
    box-shadow: 7px 7px 7px 7px rgba(34, 60, 80, 0.5) inset;
}